rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Match any file path where the first folder is the user's ID
    match /{userId}/{allPaths=**} {
      // Allow read and write access only if the requesting user's ID
      // matches the folder name.
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
